<!DOCTYPE html>
<html>
<head>
    <title>Resume Parser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
</head>
<body>

    <div class="main">
        <div class="card">

            <h1 class="title">
                📄 RESUME <span>PARSER</span>
            </h1>

            <p class="subtitle">
                Upload your resume and extract key details instantly
            </p>

            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="resume" required>
                <br><br>
                <button type="submit">Parse Resume 🚀</button>
            </form>

        </div>
    </div>

</body>
</html>